.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 20px; /* Add padding to the sides */
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  width: 100%; /* Ensure the products container takes the full width */
  box-sizing: border-box; /* Ensure padding doesn't increase the container's width */
}

.product {
  background-color: #61dafb;
  padding: 1rem;
  border-radius: 5px;
  flex: 1; /* Allow items to grow and shrink */
  min-width: 200px; /* Set a minimum width for each product */
  max-width: 300px; /* Set a maximum width for each product */
}

/* Container for the ShoppingCart component */
.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh; /* Adjust as needed */
}

.cart {
  background-color: #f7f7f7;
  color: #333;
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;

  /* Flexbox properties for centering */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center;
  text-align: center; /* Center text within each item */
}

button {
  background-color: #282c34;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #333;
}

.cart li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart button {
  background-color: #e74c3c;
  margin-left: 1rem;
}

.cart button:hover {
  background-color: #c0392b;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  padding: 1rem 0;
}

.navbar a, .navbar button {
  margin: 0 1rem;
}

.navbar a:hover {
  background-color: #333;
}

.navbar input {
  flex: 1; /* Allow the input to grow and take available space */
  margin: 0 1rem; /* Add margin to space it out from the buttons */
}
